<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>  
      <add key="LocoEventsEndpointURI_CosmosDB" value="https://manasatest.documents.azure.com:443/" />
      <add key="LORDEndpointURI_CosmosDB" value="https://locoidmrslogs.documents.azure.com:443/" />
      <add key="LocoEventsPrimaryKey_CosmosDB" value="Km1qtXfxbeIKei8ZN0yHtdMMTzgNyBnFadnckftN8cWYOp0ckMchdNK27gIyaXvP7I0FseuwNcwUcNPqxp06Jg==" />
      <add key="LORDPrimaryKey_CosmosDB" value="IxcnmwAhBbwpumLKxcO3cNMfkz0onGCTAbRTrUPoJdqeBCjKyvEhabRUP47Tocs2MRejqh7wjreVjsd8utOdmA==" />
      <add key="LocoEvents_DatabaseId" value="ManasaTestDb" />
      <add key="LORD_DatabaseId" value="MRS_UPDATE" />
    <add key="DayinLife_DatabaseId" value="MRS_ENFORCEMENTS" />
    <!--<add key="DayinLife_CollectionId" value="locoMAP" />-->
    <add key="DayinLife_CollectionId" value="locomotiveMAP" />
      <add key="LocoEvents_CollectionId" value="TrainRunEvents" />
    <!--<add key="EnforcementDashboard_CollectionId" value="enforcementDashboard" />-->
    <add key="EnforcementDashboard_CollectionId" value="enforcementDashboard_rt" />
   <!--<add key="TREvents_DatabaseId2" value="ProcessedOcmResult" />
   <add key="TREvents_CollectionId2" value="OcmResultCollection" />-->
   
   <add key="LocoEvents_DatabaseId2" value="ManasaTestDb" />   
   <add key="LocoEvents_CollectionId2" value="TRRNewStr" />
   <!--<add key="TREvents_CollectionId" value="TrainRunEventsRootChild" />-->
    
  <add key="LocomotiveHealth_CollectionId" value="LocomotiveHealth" />   
  <add key="LocomotiveInit_CollectionId" value="LocomotiveInitializationSuccess" />
  <add key="Locomotiveenf_CollectionId" value="LocomotiveEnforcementRate" />   
  <add key="Locomotiveenroute_CollectionId" value="LocomotiveEnrouteFailures" />   
  <add key="LocoDetails_CollectionId" value="LocoDetails" />
    
    
<!--Enforcement Live Data-->

    <add key="LocoEnfEventsEndpointURI_CosmosDB" value="https://locoidmrslogs.documents.azure.com:443/" />
    <add key="LocoEnfEventsPrimaryKey_CosmosDB" value="IxcnmwAhBbwpumLKxcO3cNMfkz0onGCTAbRTrUPoJdqeBCjKyvEhabRUP47Tocs2MRejqh7wjreVjsd8utOdmA==" />
    <add key="LocoEnfEvents_DatabaseId" value="MRS_UPDATE" />
    <add key="LocoEnfEvents_CollectionId" value="LocoID_14_8_17" />
    <add key="LocoEnfEvent_collectionID" value="Enforcements_Reports_Loco"/>
    <add key="LocoEnfEvent_DatabaseId" value="MRS_ENFORCEMENTS" />

  <!--<add key="Locolatlng_CollectionId" value="locolatlng" />-->
    
   <add key="Locolatlng_CollectionId" value="mrslatlng" />
   <add key="LORD_CollectionId" value="LocoID_14_8_17" />
    
    
   <!--TWILIO--> 
   <add key="twilioid" value="ACd6e4829db39cbf764cad01d43d78ad09" />
   <add key="twiliotoken" value="e825d0d2318efae73efad34a6399c871" />   
   <add key="sendgridkey" value="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" />


  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
